<p style="color: green"><%= notice %></p>

<h1>Turboを利用した投稿アプリ</h1>

<%= turbo_frame_tag 'new_post' do %>
  <%= render "form", post: Post.new %>
<% end %>

<hr>

<div id="posts">
  <%= render @posts %>
  <%# <%= render partial: "post", collection: @posts, as: "post" %>
</div>
